.btn{
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    bottom: 5%;
    transform: translateX(-50%,-50%);
    margin: auto auto;
    }
    
    #prev-btn{
    right: 54%;
    }
    
    #next-btn{
        left: 54%;
    }