.footer {
    background-color: var(--primary--color);

}

.footer {
    display: flex;
    justify-content: space-evenly;
    
    
    }
    
    .footer-left--container{
       
        flex: 1 1 50%;
        font-size: var(--nav--font--size);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .footer-left--container > .footer-left--primary{
        margin-top: 10px;
       font-size: clamp(1.3rem, 2.5vw, 1.5rem);
        padding: 5px;
        text-transform: uppercase;
    }
    .footer-left--container > .footer-left--tel{
        font-size: clamp(1rem, 2.5vw, 1.3rem);
       
        padding: 5px;
    }
    
    
    .footer-left--container > .footer-left--email{
        font-size: clamp(1rem, 2.5vw, 1.3rem);
        padding: 5px;
    }
    
    
    .footer-left--container > .footer-left--address{
        font-size: clamp(1rem, 2.5vw, 1.3rem);
        padding: 5px;
    }
    .footer-left--container > .footer-left--city{
        font-size: clamp(1rem, 2.5vw, 1.3rem);
        padding: 5px;
    }
    
    
    .footer-right--container {
       
        flex: 1 1 50%;
        font-size: var(--nav--font--size);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    
    .footer-right--container > .footer-right--primary {
        margin-top: 10px;
        font-size: clamp(1.3rem, 2.5vw, 1.5rem);
    padding: 5px;
    text-transform: uppercase;
    
    }
    .footer-right--container > .footer-right--ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }
   .footer-item {
    text-decoration: none;
    color: inherit;
   }
    .footer-right--li > .footer-social--icon{
        font-size: clamp(1rem, 2.5vw, 1.3rem);
    
        
    }
    
    .footer-right--li:nth-child(1) {
        color: #0c89ef;
    }
    
    .footer-right--li:nth-child(2) {
        color: #0a66c2;
    }
    
    .footer-right--li:nth-child(3) {
        color: #f305cf;
    }
    .spotify {
        color: #1ccc5b;
    }
    