











.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    



.footer-list-container{
flex: 1 1 100%;
width: 100%;
display: flex;
justify-content: space-evenly;
}

.footer-left{}

.footer-center{
  padding: 5px 5px;
display: flex;
flex-direction: column;
align-items: center;


}

.footer-logo {
height: 6rem;
width: 6rem;


}

.footer-logo > img {
  height: auto;
  max-width: 100%;
}


.footer-social-ul{
  display: flex;
  padding: 10px;
  gap: 1.5rem;
}


.footer-li > a {
  text-decoration: none;
  color: inherit;
 
}
.footer-icon{ 
    font-size: 1.8rem;

}




.footer-author-container{
flex: 1 1 100%;
width: 100%;
display: flex;
justify-content: center;
line-height: 1.5;
padding: 20px 20px;
outline: 1px solid black
}

.footer-author-container > span {
    font-size: var(--nav--footer--font--size);
}
