
.index-main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content 45rem;
  gap: 5rem;
  background-color: var(--secondary--color);


}



.main-top--container{
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-template-rows: 60rem;
place-content: center;
  margin: 5rem 1rem 5rem;
 }

 .main-top--left, .main-top--right {
  outline: 1px solid black;
  box-shadow: 0 0 5px black;
 }

 .main-top--left{
 
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.main-top-left--header {
  padding: 5px;
  text-align: center;
  font-size: clamp(3rem, 2.5vw, 4rem);}
.main-top-left--sub{
  font-size: clamp(2.5rem, 2.5vw, 3.5rem);
  padding: 5px;
  text-align: center;
}





.main-top-left--footer {

  display: flex;
  justify-content: center;

}

.top-left-icon{
font-size: clamp(2rem, 2.5vw, 3rem);
padding: 10px;

}
.main-top--right{

}

.main-top--right img {
 width: 100%;
  height: 100%;
}




@media screen and (max-width:1000px) {
  .main-top--container {
      grid-template-columns: repeat(1, minmax(15rem, 1fr));
      grid-template-rows: auto;
  }
  .main-top--right {
      display: none;
  }
}






