.nav {
  
      display: flex;
      justify-content: space-between;
      align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    transition: 250ms;
    width: 100%;
    
    box-shadow: 0 0 2px rgba(0, 0, 2, 3);
    
}


.nav-left {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.fa-house {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    cursor: pointer;
    color: black;
}

.nav-logo {
 
height: 10rem;
width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;


  
}
.nav-header {font-size: 8rem;
    
cursor: pointer;
color: black}





   .hamburger {

    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
        
    }
    
    
    
    .ham-bar {
        display: block;
        width: 2.5rem;
        height: 0.2rem;
       background: black;
        position: absolute;
        transition: 250ms;
      
      
    }
    
     .hamburger.active {
     
        transition: 250ms;
    }
 
    .hamburger.active .bar-top {
        transform: rotate(45deg) translateY(-0.4px) ;
        
    }
    
    .hamburger.active .bar-mid {
        transform: translateX(-100px);
        opacity: 0;
    }
    .hamburger.active .bar-bottom {
        transform: rotate(-45deg) translateY(0.5px) ;
    }  
    
    
    .bar-top{
        transform: translateY(-6px);
    }
 
    .bar-bottom{
      transform: translateY(6px);
    }
    





.nav-sidebar {
    position: fixed;
    right: 0;
   top: 0;
    width: 0;
    height: 0;
    z-index: 1;
    height: 0;}


.nav-sidebar {
    display: flex;
    justify-content: center;
    flex-direction: row;
   
 
}

.nav-item {
    color: black;
}


.nav-sidebar.active{
    width: 35%;
    height: 100%;
    background-color: var(--component--color);
    transition: width 250ms;
 
}

.nav-sidebar.active .nav-item {
    opacity: 1;
    transition: opacity 250ms;
}




@media screen and (max-width:700px) {
  
    .nav-sidebar.active {
        width: 100%;
        height: 60%;
        background-color: var(--component--color);
        transition: height 250ms;
    }
}
.nav-sidebar > .nav-ul {
    list-style: none;
    display: flex;
   justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}


.nav-li > .nav-item {
    text-decoration: none;
   
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
    opacity: 0;
}

