.nav {
    background-color: var(--primary--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #efefef;
  
    
}

.nav > .nav-ul {
    list-style: none;
    display: flex;
   justify-content: space-around;
    align-items: center;
    width: 60%;
   

}


.nav-li > .nav-item {
    text-decoration: none;
    color: var(--text--color);
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
}
