
.main-top--container{
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-template-rows: 25rem 25rem;
place-content: center;
   gap: 1rem;
    padding: 10px;
    margin: 5rem 1rem 5rem;


    }
  
    .left-l-column, .right-l-column, .center-m-column--bottom, .center-m-column--top {
        box-shadow: 0 0 5px;
        position: relative;
       outline: 3px solid #000000;
      
    }
    .left-l-column{
    
    grid-row: 1 / span 2;
   border-radius: 1px;
    
    }
    .right-l-column{
    
      grid-row:  span 2;
    
    
    }
    .center-m-column--top{
        grid-row: 1;
        position: relative;

        background-color: #000000;
        text-align: center;
        border-radius: 1px;
       
    }

    .center-m-column--top:hover {
      animation:shake 100ms infinite alternate-reverse;
    }
    @keyframes shake {
        from {transform:rotate(0.2deg)}
        to {transform: rotate(-0.2deg)}
    }
    .center-m-column-top--link{
        content: "";
        position: absolute;
        inset: 0;
        cursor: pointer;
    }
    .center-m-column--bottom{
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
       background-color: black;
       border-radius: 1px;

    
    }
  
    .large-spotify {
       color: #1db954;
    }
    
    .left-l-column img {
        height: 100%;
        width: 100%;
        border-radius: 1px;
    }
    .right-l-column img {
        height: 100%;
       width: 100%;
       border-radius: 1px;
    }
    .center-m-column--bottom img {
        height: 100%;
        width: 100%;
        border-radius: 1px;
        
    }
    
    
    .center-m-column--top img {
        height: 100%;
        width: 60%;
 
   
      
    }
 
   
    
    @media screen and (max-width:1000px) {
        .main-top--container{
         
          
            grid-template-columns: repeat(2, minmax(15rem, 30rem));
         
            grid-template-rows: 25rem 30rem 25rem;
            }
            
            
            .left-l-column{
                
              grid-column: 1;
              grid-row: 2;
            
            
            }
            .right-l-column{
           grid-column: 2;
          grid-row: 2;
            
            
            
            }
            .center-m-column--top{
               grid-row: 1;
               grid-column:1/ span 2;
            
            }
            .center-m-column--bottom{
               grid-row: 3;
               grid-column: 1 / span 2;
            
            }
    }
    
    @media screen and (max-width:550px) {
        .main-top--container {
            grid-template-rows: 20rem 25rem 20rem;
          
        }
    }

