


    .slide-container {

        scrollbar-width: none;
    
        -ms-overflow-style: none; 
    
    }
    

    
    .slides-container::-webkit-scrollbar { 
    
        width: 0;
    
        height: 0;
    
    }
    