@import url(/css/components.css);
@import url(/css/footer.css);
@import url(/css/header.css);
@import url(/css/nav.css);
@import url(/css/topcontent.css);

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;




}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.75rem;
}

:root {
    --primary--color:#F8F9FA;
    --secondary--color:#CED4DA;
    --tertiary--color:#BFD7FF;
    --text--color:black;
    --nav--font--size:1.5rem;
    --readmore--color:#BFD7FF;

}

body {

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:var(--secondary--color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15rem 5rem 1fr 20rem;

}



.main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content 65rem;
}


.btn {
    position: absolute;
    cursor: pointer;
   background: none;
   border: none;
  
}



@media screen  and  (min-width:1200px){

    #prev-btn, #next-btn  {
        display: block;
    }
    
    }

@media screen  and  (max-width:1200px){

    #prev-btn, #next-btn  {
        display: none;
    }
    
    } 



#prev-btn {left:0;top: 50%;
}
#next-btn {right: 0;top: 50%;
}


.slider-wrapper{
position: relative;
overflow: hidden;
margin: 1rem;
padding: 20px;


    }

    .slide-container {
        height: 100%;
        width: 100%;
        
  display: flex;
       overflow: scroll;
        scroll-behavior: smooth;
    }
    .slide {
        height: 100%;
        flex: 1 0 200%;
      display: grid;
     
      grid-template-columns: repeat(8, minmax(15rem,35rem));
      grid-template-rows: minmax(15rem,52rem);
      justify-content: center;
      align-content: center;
      column-gap: 10rem;
    }
@media screen and (max-width:1050px) { 

    .slide {
flex: 1 0 300%;

    }
    
}
@media screen and (max-width:700px) { 
    .slide {
flex: 1 0 400%;
    }
    
}

@media screen and (max-width:550px) { 
    .slide {
flex: 1 0 650%;
    }
    
}


    .slide-card{
       
display: grid;
grid-template-columns: minmax(30rem, 35rem);
grid-template-rows: 30rem 22rem;
padding: 10px;

    }

    @media screen  and  (max-width:1200px){
        .main {
            grid-template-rows: max-content 60rem;
        }
        .slide-card {
            display: grid;
grid-template-columns: minmax(26rem, 35rem);
grid-template-rows: 23rem 21rem;
padding: 10px;
        }
    }
 
    @media screen  and  (max-width:1050px){
        .slide-card {
            display: grid;
grid-template-columns: minmax(26rem, 33rem);
grid-template-rows: 23rem 21rem;
padding: 10px;
        }
    }

   .slide-card--top{}

   .slide-card--top img {
    height:100%;
 width: 100%;}


 .slide-card--bottom {
    position: relative;
background-color: #efefef;
display: flex;

align-items: space-evenly;

 }
   .slide-card-header{ 
    grid-template-columns: subgrid;
   
text-align: center;
padding: 5px;
}

   .slide-card-header > .slide-card-primary{
    display: block;
    padding: 5px;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
   
   }
   .slide-card-header > .slide-card-secondary{
    display: block;
    padding: 10px;
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
   }
   .slide-card-header > .slide-card-tertiary{
    padding: 5px;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
   }

   .slide-card-header > .slide-card-date{
    font-size: clamp(1rem, 2.5vw, 1.1rem);

   }

   .slide-card--btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
    bottom: 0%;
    padding: 10px;
    
    background-color: black;
 width: 100%;
   }
  
   .read-more {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto auto;
    padding: 5px 5px ;
    font-size: clamp(1rem, 1.3rem);
   }
   .card-spotify {
    display: block;
    order: 2;
    font-size: var(--nav--font--size);
   }