@import url(/css/components.css);
@import url(/css/footer.css);
@import url(/css/header.css);
@import url(/css/nav.css);
@import url(/css/indexcontent.css);
@import url(/css/modal.css);
@import url(/css/slider.css);
@import url(/css/posts.css);
@import url(/css/contact.css);
@import url(/css/about.css);

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style: none;
}

:root {
    --primary--color: #f0ececd2;
   --secondary--color:#efefef; 
    --component--color:#edd1ae; 
    --text--color:black;
    --nav--font--size:1.5rem;
    --headers--font--size:clamp(1.5rem, 2.5vw, 2rem);
    --paragraphs--font--size:clamp(1rem, 2.5vw, 1.5rem);
   

}

body {

    
    
   background-color: var(--secondary--color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem  1fr auto;


}

.header,.nav, .footer {
background-color: var(--secondary--color);
}


.header {
    position: sticky;
    top: 0;
 z-index: 1;

}
.nav {
    display: flex;
  align-items: center;
  
  height: 100%;
  z-index: 1;

}


.nav-ul {
display: flex;
justify-content: space-around;
width: 100%;
height: 100%;
height: auto;}

.nav-li{
    position: relative;
}


.nav-item {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: black;
    text-decoration: none;
    
}
.nav-li::before {
    position: absolute;
    content: "";
    height: 0.1rem;
    background: black;
    bottom: 0;}
.nav-li:hover::before{
    width: 100%}





.hamburger {
  
    display: none;
  
}



@media screen and (max-width:1000px) {
    
    .header {
        display: flex;
        justify-content: flex-end;}

    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 0%;
     
        background-color: orange;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        transition: all .3s;

    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
     opacity: 0;
     transition: all .3s;
    
     height: 60%;
    }

    .nav.active {
        height: 50%;
    }
    .nav-ul.active {
        opacity: 1;
    }
  

}


@media screen and (max-width:1000px) {
    .hamburger {
        cursor: pointer;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
      align-items: center;
      justify-content: center;
        width: 4rem;
        height: 4rem;
        z-index: 2;
        position: relative;
    transition: all .3s ease-in-out;
}
       

        .bar {
            display: block;
            width: 2rem;
            height: 0.2rem;
           background-color: black;
           position: absolute;
          
           transition: all .3s ease-in-out;
           border-radius: 1px;
        }

        .bar-top{
            transform: translateY(-5px);
        }

       

        .bar-bottom{
            transform: translateY(5px);
           
        }


        .hamburger.active .bar-mid {
            transform: translateX(-50px);
            opacity: 0;
        }

        .hamburger.active .bar-top{
            transform: rotate(45deg) translate(1px, -1px);
        }

        .hamburger.active .bar-bottom {
            transform: rotate(-45deg) translate(1px, 1px);
        }

       
}



   
  













.index-main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:max-content max-content 45rem;
    gap: 5rem;
    background-color: var(--secondary--color);

  
  }
  

  .main-hero {

    background-color: rgba(64, 135, 41, 0.479);
   
    text-align: end;
  }

  .main-hero > img {
    height: 100%;
    max-width: 100%;
  }
  
  
  .main-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 65rem));
    grid-template-rows:60rem;
  justify-content: center;
  align-content: center;
  padding: 10px;

  gap: 1rem;
 }
  @media screen and (max-width:800px) {
    .main-container {
        grid-template-columns: minmax(30rem, 1fr);
        grid-template-rows: 30rem 25rem;
        padding: 10px;
    }
  }

  .main-container-left--column{
    box-shadow: 0 0 5px;
  }
  .main-container-left--column > img{
height: 100%;
width: 100%;
    
  }
  .main-container-right--column{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
background-color: #e8e8d9;
box-shadow: 0 0 5px;
  }




.main-right-content{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
   

    
}



.main-right-content  > p{
   
    font-size: clamp(1rem, 2.5vw, 1.5rem);

    
}



.main-right-content > h1{
  
    font-size: clamp(2rem, 2.5vw, 2.5rem);

    
}

.main-right-footer {
    background-color: green;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-right-footer > a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: black;
}
