.hero {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7rem 5rem;
    align-content: space-between;
    
    }
     
    .hero {

      background-image: url(/heroimageuse.png);
     background-position: center center;
     background-size: contain;
     background-repeat: no-repeat;
     position: relative;
     background-color: #c27247;
     

    }
    .hero::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1rem;
      bottom: 0;
      box-shadow: 1px 1px 1px;
    }
    