
.navbar {

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
    
  .navbar > .navbar-ul{
  width: 100%;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content:center;
    list-style: none;
  
  }
  
  
  
    
    .navbar-item{
    font-size: var(--text--size);
    text-decoration: none;
    color: var(--header--text-color);
    }
  
  
    .header > .header-search-container{
      flex: 1 1 20rem;
      outline: 1px dashed red;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
  
    }
  